<!DOCTYPE html>
<html lang="en">

<head>
<script type="application/ld+json">
[
  {
    "@context": "http://schema.org",
    "@type": "Product",
    "name": "labial rojo",
    "image": "https://http2.mlstatic.com/D_NQ_NP_965599-MLA53868762330_022023-O.webp",
    "offers": {
      "@type": "Offer",
      "price": "12 $"
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5 &#11088"
    }
  },
  {
    "@context": "http://schema.org",
    "@type": "Product",
    "name": "Rubor en crema Fenty Beau",
    "image": "https://blushbar.vtexassets.com/arquivos/ids/191037-1200-1200?v=637796714776670000&width=1200&height=1200&aspect=true",
    "offers": {
      "@type": "Offer",
      "price": "25 $"
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "3 &#11088"
    }
  },
  {
    "@context": "http://schema.org",
    "@type": "Product",
    "name": "sombras verde",
    "image": "http://sc04.alicdn.com/kf/He21d8b00fe6144898e277994ee2bb281Z.jpg",
    "offers": {
      "@type": "Offer",
      "price": "41 $"
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5 &#11088"
    }
  },
  {
    "@context": "http://schema.org",
    "@type": "Product",
    "name": "eyeliner de lapiz",
    "image": "https://kao-h.assetsadobe3.com/is/image/content/dam/sites/kanebo/www-kanebo-global-com/img/makeup/3_eye/dual_eyeliner/dual_eyeliner.jpg?fmt=jpeg&qlt=100&wid=640",
    "offers": {
      "@type": "Offer",
      "price": "10 $"
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5 &#11088"
    }
  },
  {
    "@context": "http://schema.org",
    "@type": "Product",
    "name": "base almendra",
    "image": "https://http2.mlstatic.com/D_NQ_NP_610904-MLV53229404744_012023-O.webp",
    "offers": {
      "@type": "Offer",
      "price": "6 $"
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "3 &#11088"
    }
  },
  {
    "@context": "http://schema.org",
    "@type": "Product",
    "name": "lipgloss sweet melon",
    "image": "https://s3.pagegear.co/442/articulos/62606/46106_700x933.jpg?4824891",
    "offers": {
      "@type": "Offer",
      "price": "16 $"
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "0 &#11088"
    }
  }
]
</script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-QHKDKC0T4K"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-QHKDKC0T4K');
  </script>
  <meta property="og:type" content="website">
  <meta property="og:title" content="MakeUp Valenciano">
  <meta property="og:url" content="https://www.MakeUpValenciano.com">
  <meta property="og:image" content="https://static.vecteezy.com/system/resources/previews/020/520/941/large_2x/makeup-icon-vector.jpg">
  <meta property="og:description" content="Tienda Online de venta de maquillajes para tu gusto y uso personal">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MakeUp Valenciano</title>

  <link rel="stylesheet" href="/stylesheets/admin.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


  <style>
    th {
      font-family: Arial, sans-serif;
      font-size: 16px;
      font-weight: bold;
      display: flexbox;
      justify-content: center;
      color: black;
    }

    th,
    td {
      padding: 10px;
      text-align: left;
      font-family: 'Times New Roman', Times, serif;
      color: white;
    }

    body {
      background-color: #291d1d;
      font-family: 'Times New Roman', Times, serif;
    }

    form {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    h1 {
      color: white;
    }

    footer {
      width: 1300px;
      border: solid 1px;
      border-color: rgb(70, 30, 16);
      margin-top: 10px;
    }

    address {
      padding-top: 15px;
      font-family: 'Times New Roman';
      text-align: center;
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <h1>MakeUp Valenciano</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav nav justify-content-center">
            <li class="navbar bg-body-tertiary">
              <form class="d-flex input-group w-auto" action="/search" method="post">
                <input class="form-control me-2" type="text" name="nombre" id="nombre" placeholder="Ingrese el nombre del producto">
                <button type="submit" class="btn btn-secondary me-2">Buscar</button>
              </form>
            </li>

            <li class="navbar bg-body-tertiary">
              <form class="d-flex input-group w-auto" action="/searchdescrp" method="post">
                <input class="form-control me-2" type="text" name="descripcion" id="descripcion" placeholder="Ingrese una descripcion del producto">
                <button type="submit" class="btn btn-secondary me-2">Buscar</button>
              </form>
            </li>
          </ul>

          <div class="d-flex align-items-center">
            <button data-mdb-ripple-init type="button" class="btn btn-secondary me-3">
              <a class="nav-link btn btn-outline-primary" href="/clientes">Restablecer</a>
            </button>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav nav justify-content-center">
            <li class="nav-item">
              <form action="/filtroctg" method="post">
                <select name="categoria" id="categoria">
                  <option value="">--Categorias--</option>
                  <% if (datos) { %>
                  <% for (let i = 0; i < datos.length; i++){  %>
                  <% if (datos) { %>
                  <option value="<%= datos[i].categoriaNombre %>" name="categoria" id="categoria"><%= datos[i].categoriaNombre %></option>
                  <% } %>
                  <% } %>
                  <% } else { %>
                  <option value="">No existe categora en el sistema</option>
                  <% }   %>
                </select>
                <button type="submit" class="btn btn-dark">Filtrar productos</button>
              </form>

              <form action="/filtromarca" method="post">
                <select name="marca" id="marca">
                  <option value="">--Marcas--</option>
                  <% if (datos) { %>
                  <% for (let i = 0; i < datos.length; i++){  %>
                  <% if (datos) { %>
                  <option value="<%= datos[i].marca %>"><%= datos[i].marca %></option>
                  <% } %>
                  <% } %>
                  <% } else { %>
                  <option value="">No existe marca en el sistema</option>
                  <% }   %>
                </select>
                <button type="submit" class="btn btn-dark">Filtrar productos</button>
              </form>

              <form action="/filtrotn" method="post">
                <select name="tono" id="tono">
                  <option value="">--Tonos--</option>
                  <% if (datos) { %>
                  <% for (let i = 0; i < datos.length; i++){  %>
                  <% if (datos) { %>
                  <option value="<%= datos[i].tono %>"><%= datos[i].tono %></option>
                  <% } %>
                  <% } %>
                  <% } else { %>
                  <option value="0">No existe tono en el sistema</option>
                  <% }   %>
                </select>
                <button type="submit" class="btn btn-dark">Filtrar productos</button>
              </form>

              <form action="/filtroprm" method="post">
                <select name="promedio" id="promedio">
                  <option value="">--Calificacion--</option>
                  <% for (let i=0; i < 6; i++){ %>
                  <option value="<%= i %>" name="promedio" id="promedio">
                    <%= i %>
                  </option>
                  <% } %>
                </select>
                <button type="submit" class="btn btn-dark">Filtrar productos</button>
              </form>
            </li>
          </ul>
        </div>


      </div>

      <div class="d-flex align-items-center">
        <button data-mdb-ripple-init type="button" class="btn btn-secondary me-3">
          <a class="nav-link btn btn-outline-primary" href="/productos-comprados"><strong>Productos Comprados</a>
        </button>
      </div>

      <div class="d-flex align-items-center">
        <button data-mdb-ripple-init type="button" class="btn btn-secondary me-3">
          <a class="nav-link btn btn-outline-primary" href="/logout"><strong>Log Out</a>
        </button>
      </div>

      <div class="d-flex align-items-center">
        <button data-mdb-ripple-init type="button" class="btn btn-primary me-3">
          <a class="nav-link btn btn-outline-primary" href="/loginclientes"><strong>Sign In</a>
        </button>
      </div>


      </div>
    </nav>
  </header>


  <div class="container ">
    <div class="titulo">
      <h1>MakeUp Valenciano</h1>
    </div>

    <div class="card-header">
      <div class="btn-group" role="group" aria-label="Vista de productos">
        <input style="margin-bottom: 10px;" type="radio" class="btn-check" name="vistaProductos" id="btnCuadricula" autocomplete="off" checked>
        <label style="margin-bottom: 10px;" class="btn btn-outline-primary" for="btnCuadricula">Lista</label>
        <input style="margin-bottom: 10px;" type="radio" class="btn-check" name="vistaProductos" id="btnLista" autocomplete="off">
        <label style="margin-bottom: 10px;" class="btn btn-outline-primary" for="btnLista">Cuadrícula</label>
      </div>
    </div>
    <div class="card-body  justify-content-center ">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% if (datos.length > 0) {%>
        <% for(let i = 0; i < datos.length; i++) { %>
        <div class="col custom-col">
          <a href="/info/<%= datos[i].id%>">
            <div class="card bg-light mb-3 text-center h-100 shadow-border ">
              <div class="card-header">
                <h4 style="margin-top: 10px; font-weight: bold;"><%= datos[i].productoNombre %></h4>
              </div>
              <div class="card-body">
                <img src="<%= datos[i].url %>" class="card-img-top shadow-border" style="max-height: 200px; max-width: 200px;">
              </div>
              <div class="card-footer">
                <h4 style="font-weight: bold;"><%= datos[i].precio %> $</h4>
                <h4 style="font-weight: bold;"><%= datos[i].promedio %> &#11088</h4>
              </div>
            </div>
          </a>
        </div>

        <% } %>
        <% } else { %>
        <p>No hay productos en el sistema</p>
        <% } %>
      </div>
      <%- include('footer') -%>
    </div>

  </div>

  </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const btnCuadricula = document.getElementById("btnCuadricula");
      const btnLista = document.getElementById("btnLista");
      const productosContainer = document.querySelector(".row.row-cols-1.row-cols-md-3.g-4");

      // Verificar si hay un estado guardado en el almacenamiento local
      const estadoGuardado = localStorage.getItem("estadoVista");
      if (estadoGuardado === "cuadricula") {
        productosContainer.classList.remove("row-cols-md-1");
        productosContainer.classList.add("row-cols-md-3");
      } else if (estadoGuardado === "lista") {
        productosContainer.classList.remove("row-cols-md-3");
        productosContainer.classList.add("row-cols-md-1");
      }

      btnCuadricula.addEventListener("click", function() {
        productosContainer.classList.remove("row-cols-md-1");
        productosContainer.classList.add("row-cols-md-3");

        // Guardar el estado seleccionado en el almacenamiento local
        localStorage.setItem("estadoVista", "cuadricula");
      });

      btnLista.addEventListener("click", function() {
        productosContainer.classList.remove("row-cols-md-3");
        productosContainer.classList.add("row-cols-md-1");

        // Guardar el estado seleccionado en el almacenamiento local
        localStorage.setItem("estadoVista", "lista");
      });
    });
  </script>
</body>

</html>
